@model List<ProductModel>
@{
    ViewData["Title"] = "Products List";
}


<!-- NEW STYLE CHANGE... replaced 'text-success' with 'product-page-header' -->
<h1 class="display-4 text-center product-page-header">Product List</h1>
<!-- END OF NEW STYLE CHANGE -->


<p>These are a list of our products</p>
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in @Model)
        {
            <tr>
                <td>@prod.ProductName</td>

                <!-- NEW STYLE CHANGE... I just added a custom class 'product-detailed-image' -->
                <td>
                    <img src="@prod.ProductImage" class="img-fluid rounded product-image" />
                    <p>@prod.ProductDescription</p>
                </td>
                <!-- END OF NEW STYLE CHANGE -->

                <td>@($"{prod.ProductPrice}")</td>
                <td>
                    <a asp-controller="Product" asp-action="Detail" asp-route-id="@prod.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>